<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="headerWrap">
        <input type="text" placeholder="파일 검색..." autocomplete="off" required>
        <img src="/asset/search2.png" alt="search">
    </div>

    <div class="bodyWrap">
        <input type="checkbox" id="drawer-toggle" class="drawer-checkbox">
        <label for="drawer-toggle" class="drawer-button">></label>
        
        <div class="drawer">
            <div class="drawer-content">
                </div>
        </div>

        <div class="hierarchyWrap">
            <div class="brand-logo">
                <h1>☀️ SOLAR DRIVE</h1>
                <p>개인 소유</p>
            </div>
            <ul>
               <li id="owner" class="hierarchy-root">
                    <h2>강규창</h2>
                </li>
                <!-- <li class="hierarchy-root">
                    <h2>강민희</h2>
                </li> -->
            </ul>
        </div>

        <div class="mainWrap">
            <div class="menu-wrap">
                <button type="button" id="uploadBtn">업로드</button>
                <input type="file" style="display: none" id="fileInput" multiple>
                <button type="button" id="downloadBtn">다운로드</button>
                <button type="button" id="removeBtn">삭제</button>
            </div>
            <div class="item-container">
            </div>
        </div>
    </div>
    <script src="/main.js" type="module"></script>
</body>
</html>